@charset "utf-8";

body {
    font-family: 'メイリオ',sans-serif;
    margin-right: auto;
    margin-left: auto;

}
img {
    max-width: 100%;
    
}
footer {
    margin-top: 40px;
    position: absolute;
    bottom: 0;
}

.status-label{
    margin:0;
    padding:2;
}
.status-label3{
    margin:0;
    padding:2;
    
}
.nana{
    margin:0;
    padding:0;
    height:50%;}
    
#sidebar {
    width: 220px;
    float: right;
}