@charset "utf-8";

body {
    font-family: 'メイリオ',sans-serif;
    margin-right: auto;
    margin-left: auto;

}

footer {
    margin-top: 40px;
    position: absolute;
    bottom: 0;
}

.icon.text-center{
   width: 25%;
   margin:0 auto;
}

.img-circle{
    max-width:100%;
}

.status-label{
    margin:0 auto;
    padding:2;
}
.status-label2{
    margin:0 auto;
    padding:2;
}
    
.status-label4{
    font-size:20px;
}
    

.nana{
    margin:0;
    padding:0;
    height:50%;
    
}

.hara {
    font-size:20px;
}
    
.cal {
    font-size:20px;
}

a {
    font-size:14px;
}