@charset "utf-8";


body {
  font-family: 'Yu Gothic UI',sans-serif;
  background:url("/images/back2.jpg");
}
footer {
    margin-top: 40px;
    position: absolute;
    bottom: 0;
}

/*navbar*/
.navbar-header img{
    margin-top: 5px;
    height: 40px;
}

.container {
    min-width: 970px !important;
    
}

/*cover*/
.cover{
    margin-top: 15px;
    margin-left: -50px;
    margin-bottom: 20px;
    max-width:65%;
    max-height:60%;
    background: url("/images/logo.png") center center no-repeat;
    background-size:cover;
    
    
}
.cover .cover-inner{
    height:100%;
    margin:auto;
    display:table;
    }
    
.cover .cover-inner .cover-contents{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1{
    margin:0 0 20px 0;
    color:#fff;
    font-weight:bold;
    letter-spacing: 0.15em;
    color: #FFF;
    /*background: #6eb7ff;*/
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.cover .btn-success{
    background-color: #ed486f;
    border-color: #ed486f;
}
/* search */
.search {
    margin-bottom: 20px;
}

/* item */
.item .panel-body {
    height: 70px;
}
.item .panel-heading {
    height: 250px;
}
.item .panel-heading img {
    height: 100%;
    max-width: 100%;
}
.item-title {
    /* Keep the number of lines in a sentence on two lines, and add "..." to the end of line. */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* item */
.item .panel-body {
    height: 120px;
}
.item .buttons form {
    display: inline-block;
    margin: 0 5px;
}
/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.user-profile .status ul {
    margin: 0 auto 10px;
    padding: 0;
    display: table;
}
.user-profile .status ul li {
    width: 33%;
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status ul li:last-child {
    border: none;
}
.user-profile .status ul li .status-label {
    font-size: 12px;
}
.user-profile .status ul li .status-value {
    font-size: 18px;
}


/*オリジナルのCSS*/
.tab_box {
    padding:30px;
    text-align:center;
    writing-mode:vertical-rl;
    width:80px;
    height:190px;
    background:#DDDDDD;
}

.tab:hover {
    padding:30px;
    text-align:center;
    writing-mode:vertical-rl;
    width:80px;
    height:190px;
    background:#A6A6A6;
}

/*エクサイズ詳細のレイアウト設定*/
.title_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Yu Gothic UI;
    font-size: 180%;
    color:#FFFFFF;
    width:682px;
    height:70px;
    background:#7D5C67;
    border: dashed 2px #9C9C9B;/*点線*/
    margin-top: 10px;
    margin-bottom: 5px;
}

.ex_text{
    text-align:center;
    font-family:Yu Gothic UI;
    font-size: 120%;
    color:#A6A6A6;
    width:682px;
    height:150px;
    margin-top: 5px;
}

.images {
    text-align:center;
    height:320px;
    
}

/*カラー設定*/
.medium1 {
    background:#ACC9FF;
}

.medium2 {
    background:#FFFFFF;
}   

.medium3 {
    margin-top: 50px;
}
.navbar {
    background-color:#FBB9FF;
}

.footer {
    background:#FBB9FF;
}

/*画像設定*/
.card-img-top {
   text-align:center;    
}
}
.row {
	margin: 0 auto;
}

/*メニュー箇条書き関連*/
.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
}
.sample1 li{
  position:relative;
  margin: 7px 0 7px 0px;
  padding-left:40px;
  font-size:14px;
  font-family:Yu Gothic UI;
  line-height: 30px;
  border: 1px solid #FFFFFF;
  
}
.sample1 li a {
    color: #FFFFFF;
}
.sample1 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #006E99;
  line-height:30px;
  background: #FFFFFF;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
